@import "../utilities/initial-variables";

.font-thin {
  font-weight: $hairline;
}
.font-extralight {
  font-weight: $thin;
}
.font-light {
  font-weight: $light;
}
.font-normal {
  font-weight: $normal;
}
.font-medium {
  font-weight: $medium;
}
.font-semibold {
  font-weight: $semibold;
}
.font-bold {
  font-weight: $bold;
}
.font-extrabold {
  font-weight: $800;
}
.font-black {
  font-weight: $black;
}

.text-xs {
  font-size: $xs;
  line-height: 1rem;
}
.text-sm {
  font-size: $sm;
  line-height: 1.25rem;
}
.text-base {
  font-size: $base;
  line-height: 1.5rem;
}
.text-lg {
  font-size: $lg;
  line-height: 1.75rem;
}
.text-xl {
  font-size: $xl;
  line-height: 1.75rem;
}
.text-2xl {
  font-size: $2xl;
  line-height: 2rem;
}
.text-3xl {
  font-size: $3xl;
  line-height: 2.25rem;
}
.text-4xl {
  font-size: $4xl;
  line-height: 2.5rem;
}
.text-5xl {
  font-size: $5xl;
  line-height: 1;
}
.text-6xl {
  font-size: $6xl;
  line-height: 1;
}
.text-7xl {
  font-size: $7xl;
  line-height: 1;
}
.text-8xl {
  font-size: $8xl;
  line-height: 1;
}
.text-9xl {
  font-size: $9xl;
  line-height: 1;
}
